.container{
    background-color: var(--pure-white);
}

.content{
    max-width: 1536px;
    margin: auto;
    padding: 16px;
    text-align: center;
    background-color: var(--pure-white);
}

a{
    text-decoration: none;
    color: var(--black);
}