@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800;900&family=Poppins:wght@200;300;400&display=swap");

:root {
  /* CSS HEX */
  --federal-blue: #03045eff;
  --honolulu-blue: #0077b6ff;
  --pacific-cyan: #00b4d8ff;
  --non-photo-blue: #90e0efff;
  --light-cyan: #caf0f8ff;
  --black: #343434;
  --white: #f6f8fd;
  --pure-white: #ffffff;
  --grey: #747474;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  background-color: #f6f8fd;
  user-select: none;
}

.pattern {
  margin-top: 1rem;
  height: 40vh;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.15),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (min-width: 764px) {
  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }

  .pattern {
    border-radius: 20px;
    margin-top: 0;
    height: 400px;
  }
}
